button {
    background-color: #6699ff;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color:#99bbff;
}
